In [1]:
!pip install textsearch
!pip install contractions
import nltk
nltk.download('punkt')
nltk.download('stopwords')

Collecting textsearch
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |████████████████████████████████| 321 kB 5.8 MB/s
Collecting anyascii
  Downloading anyascii-0.2.0-py3-none-any.whl (283 kB)
     |████████████████████████████████| 283 kB 49.6 MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85452 sha256=f09fe59a91214423d8256913a534ac264215511a1e6aa4a78ee80c035d446b32
  Stored in directory: /root/.cache/pip/wheels/25/19/a6/8f363d9939162782bb8439d886469756271abc01f76fbd790f
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch
Successfully installed anyascii-0.2.0 pyahocorasick-1.4.2 textsearch-0.0.21
Collecting contractions
  Downloading contractions-0.0.52-py2.py3-none-any.whl (7.2 kB)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.2.0)
Installing collected packages: contractions
Successfully installed contractions-0.0.52
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
import pandas as pd

df = pd.read_csv('https://github.com/dipanjanS/nlp_workshop_dhs18/raw/master/Unit%2010%20-%20Project%208%20-%20Movie%20Recommendations%20with%20Document%20Similarity/tmdb_5000_movies.csv.gz', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [3]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [4]:
df = df[['title', 'tagline', 'overview', 'popularity']]
df.tagline.fillna('', inplace=True)
df['description'] = df['tagline'].map(str) + ' ' + df['overview']
df.dropna(inplace=True)
df = df.sort_values(by=['popularity'], ascending=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 546 to 4553
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4800 non-null   object
 1   tagline      4800 non-null   object
 2   overview     4800 non-null   object
 3   popularity   4800 non-null   float64
 4   description  4800 non-null   object
dtypes: float64(1), object(4)
memory usage: 225.0+ KB

In [5]:

import nltk
import re
import numpy as np
import contractions

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    doc = contractions.fix(doc)
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    #filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

4800

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range= (1,2),min_df = 2)
tfidf_matrix = tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(4800, 20471)

In [8]:
#pairwise Document similarity 
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.000000  0.000000  ...  0.000000  0.000000  0.009646
1  0.000000  1.000000  0.000000  ...  0.000000  0.000000  0.007963
2  0.000000  0.000000  1.000000  ...  0.000000  0.027126  0.009340
3  0.000000  0.017839  0.000000  ...  0.000000  0.000000  0.000000
4  0.006071  0.007968  0.017178  ...  0.004516  0.043475  0.011465

[5 rows x 4800 columns]

In [10]:
movies_list = df['title'].values
movies_list,movies_list.shape

(array(['Minions', 'Interstellar', 'Deadpool', ..., 'Penitentiary',
        'Alien Zone', 'America Is Still the Place'], dtype=object), (4800,))

In [12]:
movie_idx = np.where(movies_list == 'Minions')[0][0]
movie_idx

0

In [13]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.00964646])

In [14]:
similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([ 33,  60, 737, 490, 298])

In [15]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

array(['Despicable Me 2', 'Despicable Me',
       'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Superman',
       'Rise of the Guardians'], dtype=object)

In [16]:
def movie_recommender(movie_title, movies = movies_list, doc_sims = doc_sim_df):
  #find movie id 
  movie_idx = np.where(movies_list == movie_title)[0][0]
  #get movie similarity
  movie_similarities = doc_sim_df.iloc[movie_idx].values
  #get top5 similar movie ID's 
  similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
  #get the movies
  similar_movies = movies_list[similar_movie_idxs]
  return similar_movies

In [17]:
movie_recommender('Interstellar')

array(['Gattaca', 'Space Pirate Captain Harlock', 'Space Cowboys',
       'Starship Troopers', 'Final Destination 2'], dtype=object)

In [18]:
movie_recommender('Terminator Salvation')

array(['Terminator Genisys', 'Terminator 3: Rise of the Machines',
       'Terminator 2: Judgment Day',
       'The Boondock Saints II: All Saints Day', 'The Matador'],
      dtype=object)

In [ ]:
#Fast text to generate the doc sims
from gensim.models import FastText

tokenized_docs = [doc.split() for doc in norm_corpus]
ft_model = FastText(tokenized_docs, size = 300,min_count = 2,window= 30,workers =4,sg = 1, iter=50)

In [ ]:
def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index2word)
    
    def average_word_vectors(words, model, vocabulary, num_features):
        feature_vector = np.zeros((num_features,), dtype="float64")
        nwords = 0.
        
        for word in words:
            if word in vocabulary: 
                nwords = nwords + 1.
                feature_vector = np.add(feature_vector, model.wv[word])
        if nwords:
            feature_vector = np.divide(feature_vector, nwords)

        return feature_vector

    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [ ]:
doc_vec_ft = averaged_word2vec_vectorizer(tokenized_docs,ft_model,300)
doc_vec_ft.shape

In [ ]:
#pairwise Document similarity 
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(doc_vec_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

In [ ]:
def movie_recommender(movie_title, movies = movies_list, doc_sims = doc_sim_df):
  #find movie id 
  movie_idx = np.where(movies_list == movie_title)[0][0]
  #get movie similarity
  movie_similarities = doc_sim_df.iloc[movie_idx].values
  #get top5 similar movie ID's 
  similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
  #get the movies
  similar_movies = movies_list[similar_movie_idxs]
  return similar_movies

In [ ]:
movie_recommender('Interstellar')